@model ProductModel
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1><center>Ürün Düzenle</center></h1>
<form asp-controller="Admin" asp-action="EditProduct" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group row">
        <label asp-for="Name">Ürün Adı</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
    </div>
    <div class="form-group row">
        <label asp-for="ImageUrl">Ürün Resmi</label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control">
    </div>
    <div class="form-group row">
        <label asp-for="Price">Ürün Fiyatı</label>
        <input asp-for="Price" value="@Model.Price" class="form-control">
    </div>
    <div class="form-group row">
        <label asp-for="Description">Ürün Açıklaması</label>
        <textarea id="editor" asp-for="Description" class="form-control">@Model.Description</textarea>
    </div>
    <button type="submit" class="btn btn-primary bg-dark">Kaydet</button>
        <hr />
        <h4><center>Ürün Kategorisi</center></h4>
        @foreach (var item in (List<Category>)ViewBag.Categorys)
        {
<center>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" 
         name="categoryId"
         value="@item.Id"
         class="custom-control-input" id="category@(item.Id)" @(Model.SelectCategorys.Any(i => i.Id == item.Id) ? "checked" : "")>
        <label class="custom-control-label" for="category@(item.Id)">@item.Name</label>
    </div>
</center>
        }
</form>
